<div class="d-flex flex-row justify-content-between align-items-center bg-dark text-white header">
  <div class="logo m-2 d-flex flex-row justify-content-start align-items-center">
    <%= image_tag "logo.svg", class: "d-print-none" %>
    <%= image_tag "logo_print.svg", class: "d-none d-print-block" %>
    <h1 class="ml-2">Thickness&nbsp;History</h1>
  </div>
  <div class="m-2 d-print-none">
    <%= render partial: 'pagination_description', locals: {pagy: @pagy} %>
  </div>
  <div class="m-2 d-print-none">
    <%= render partial: 'pagination', locals: {pagy: @pagy} %>
  </div>
  <div class="m-2 d-print-none">
    <%= link_to '<i class="fas fa-file-excel"></i> Download'.html_safe, request.params.merge({format: :xlsx}), class: ['btn', 'btn-sm', 'btn-success', 'mr-2'] %>
    <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#thickness-filters"><i class="fas fa-filter"></i> Filters</button>
    <% if params[:show_statistics] == 'yes' %>
      <%= link_to '<i class="fas fa-chart-line"></i> Hide Stats'.html_safe, request.params.merge({show_statistics: nil}), class: ['btn', 'btn-sm', 'btn-danger', 'ml-2'] %>
    <% else %>
      <%= link_to '<i class="fas fa-chart-line"></i> Show Stats'.html_safe, request.params.merge({show_statistics: 'yes'}), class: ['btn', 'btn-sm', 'btn-danger', 'ml-2'] %>
    <% end %>
    <% if @thickness_user %>
      <%= link_to "<i class=\"fas fa-sign-out-alt\"></i> Logout".html_safe, logout_url, class: ["btn", "btn-sm", "ml-2", "btn-secondary"] %>
    <% else %>
      <%= link_to "<i class=\"fas fa-arrow-circle-right\"></i> Login".html_safe, login_url, class: ["btn", "btn-sm", "ml-2", "btn-secondary"] %>
    <% end %>
  </div>
</div>

<%= render partial: 'filter_form' %>

<% if params[:show_statistics] == 'yes' %>
  <%= render partial: 'statistics' %>
<% end %>

<table class="table table-striped table-hover border-bottom mb-0 thickness-data-table">
  <thead class="thead-dark sticky">
    <tr>
      <th>Order</th>
      <th class="text-center">Load</th>
      <th>X-Ray</th>
      <th class="text-right">Thickness</th>
      <th class="text-right">Alloy %</th>
      <th>Individual Checks</th>
    </tr>
  </thead>
  <tbody>
    <%= render @blocks %>
  </tbody>
</table>