<p id="notice"><%= notice %></p>

<p>
  <strong>Xray:</strong>
  <%= @block.xray_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @block.user_id %>
</p>

<p>
  <strong>Directory:</strong>
  <%= @block.directory %>
</p>

<p>
  <strong>Product:</strong>
  <%= @block.product %>
</p>

<p>
  <strong>Application:</strong>
  <%= @block.application %>
</p>

<p>
  <strong>Block at:</strong>
  <%= @block.block_at %>
</p>

<p>
  <strong>Number:</strong>
  <%= @block.number %>
</p>

<p>
  <strong>Shop order:</strong>
  <%= @block.shop_order %>
</p>

<p>
  <strong>Load:</strong>
  <%= @block.load %>
</p>

<p>
  <strong>Is early:</strong>
  <%= @block.is_early %>
</p>

<p>
  <strong>Is rework:</strong>
  <%= @block.is_rework %>
</p>

<p>
  <strong>Is strip:</strong>
  <%= @block.is_strip %>
</p>

<p>
  <strong>Customer code:</strong>
  <%= @block.customer_code %>
</p>

<p>
  <strong>Process code:</strong>
  <%= @block.process_code %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @block.part_number %>
</p>

<p>
  <strong>Part sub:</strong>
  <%= @block.part_sub %>
</p>

<p>
  <strong>Part control:</strong>
  <%= @block.part_control %>
</p>

<p>
  <strong>Part name 1:</strong>
  <%= @block.part_name_1 %>
</p>

<p>
  <strong>Part name 2:</strong>
  <%= @block.part_name_2 %>
</p>

<p>
  <strong>Part name 3:</strong>
  <%= @block.part_name_3 %>
</p>

<p>
  <strong>Count readings:</strong>
  <%= @block.count_readings %>
</p>

<p>
  <strong>Has alloy:</strong>
  <%= @block.has_alloy %>
</p>

<p>
  <strong>Mean thickness:</strong>
  <%= @block.mean_thickness %>
</p>

<p>
  <strong>Min thickness:</strong>
  <%= @block.min_thickness %>
</p>

<p>
  <strong>Max thickness:</strong>
  <%= @block.max_thickness %>
</p>

<p>
  <strong>Std dev thickness:</strong>
  <%= @block.std_dev_thickness %>
</p>

<p>
  <strong>Mean alloy:</strong>
  <%= @block.mean_alloy %>
</p>

<p>
  <strong>Min alloy:</strong>
  <%= @block.min_alloy %>
</p>

<p>
  <strong>Max alloy:</strong>
  <%= @block.max_alloy %>
</p>

<p>
  <strong>Std dev alloy:</strong>
  <%= @block.std_dev_alloy %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
